body {
    background-image: linear-gradient(80deg, #1E90FF,#228B22);
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
}
ul li {
    position: relative;
    left: 60px;
    
}
ul li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 13, 192);
    background: rgb(255, 255, 255);
    padding: 2px;
    border: 3px solid rgb(204, 204, 204);
}